<h1 class="bg-danger text-white text-center p-3 ">Company Table</h1>
<table class="table table-bordered text-center mb-4 mt-4">
  <thead>
    <tr>
      <th>sr no</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let std of stdArr; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ std.fname }}</td>
      <td>{{ std.lname }}</td>
      <td>{{ std.email }}</td>
      <td>{{ std.contact }}</td>

      <td>


        <button mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </td>

      <td>


        <button mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>



<h1 class="bg-info text-white text-center p-3 ">Company Table</h1>
<table class="table table-bordered  mb-4">
  <tr>
    <th>ID</th>
    <th>Company</th>
    <th>Industry</th>
    <th>Email</th>
    <th>Contact</th>
    <th>City</th>
    <th>Employees</th>
  </tr>

  <tr *ngFor="let comp of companyArr">
    <td>{{ comp.companyId }}</td>
    <td>{{ comp.companyName }}</td>
    <td>{{ comp.industry }}</td>
    <td>{{ comp.email }}</td>
    <td>{{ comp.contact }}</td>
    <td>{{ comp.city }}</td>
    <td>{{ comp.employees }}</td>
  </tr>
</table>


<h1 class="bg-danger text-white text-center p-3 ">Product details</h1>
<table class="table table-bordered  mb-4">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>category</th>
    <th>price</th>
    <th>inStock</th>
    <th>rating</th>
    <th>brand</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>

  <tr *ngFor="let comp of products">
    <td>{{ comp.id }}</td>
    <td>{{ comp.name }}</td>
    <td>{{ comp.category }}</td>
    <td>{{ comp.price }}</td>
    <td>{{ comp.inStock }}</td>
    <td>{{ comp.rating }}</td>
    <td>{{ comp.brand }}</td>


    <td><button mat-mini-fab color="primary">
        <mat-icon>edit</mat-icon>
      </button></td>

    <td>
      <button mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>


  </tr>
</table>


<h1 class="bg-dark text-white text-center p-3 ">Country</h1>
<table class="table table-bordered  mb-4">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>capital</th>
    <th>population</th>
    <th>currency</th>
    <th>continent</th>
    <th>Edit</th>
    <th>Remove</th>

  </tr>

  <tr *ngFor="let comp of countries">
    <td>{{ comp.id }}</td>
    <td>{{ comp.name }}</td>
    <td>{{ comp.capital }}</td>
    <td>{{ comp.population }}</td>
    <td>{{ comp.currency }}</td>
    <td>{{ comp.continent }}</td>


    <td><button mat-mini-fab color="primary">
        <mat-icon>edit</mat-icon>
      </button></td>

    <td>
      <button mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>


  </tr>
</table>


<h1 class="bg-info text-white text-center p-3 ">FOOTBALL PLAYERS</h1>
<table class="table table-bordered  mb-4">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>country</th>
    <th>club</th>
    <th>position</th>
    <th>goals</th>
    <th>Edit</th>
    <th>Remove</th>

  </tr>

  <tr *ngFor="let comp of bestFootballPlayers">
    <td>{{ comp.id }}</td>
    <td>{{ comp.name }}</td>
    <td>{{ comp.country }}</td>
    <td>{{ comp.club }}</td>
    <td>{{ comp.position }}</td>
     <td>{{ comp.goals }}</td>

    <td><button mat-mini-fab color="primary">
        <mat-icon>edit</mat-icon>
      </button></td>

    <td>
      <button mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>


  </tr>
</table>

<br>
<h1 class="bg-info text-white text-center p-3 ">list of country</h1>
<table class="table table-bordered  mb-4">
<div class="container ">
  <div class="row">
    <div class="col-12">
      <ul class="list-group text-center">
        <li *ngFor="let g of desh;" 
        class="list-group-item ">{{g}}</li>
      </ul>
    </div>
  </div>
</div>
<br>
<h1 class="bg-info text-white text-center p-3 ">List of cities</h1>
<table class="table table-bordered  mb-4">
<div class="container ">
  <div class="row">
    <div class="col-12">
      <ul class="list-group text-center">
        <li *ngFor="let a of colors;" 
        class="list-group-item ">{{a}}</li>
      </ul>
    </div>
  </div>
</div>
<br>
<h1 class="bg-info text-white text-center p-3 ">List of languages</h1>
<table class="table table-bordered  mb-4">
<div class="container ">
  <div class="row">
    <div class="col-12">
      <ul class="list-group text-center">
        <li *ngFor="let b of cities;" 
        class="list-group-item ">{{b}}</li>
      </ul>
    </div>
  </div>
</div>
<br>
<h1 class="bg-info text-white text-center p-3 ">List of fruits</h1>
<table class="table table-bordered  mb-4">
<div class="container ">
  <div class="row">
    <div class="col-12">
      <ul class="list-group text-center">
        <li *ngFor="let c of languages;" 
        class="list-group-item ">{{c}}</li>
      </ul>
    </div>
  </div>
</div>
<br>
<h1 class="bg-info text-white text-center p-3 ">List of fruits</h1>
<table class="table table-bordered  mb-4">
<div class="container ">
  <div class="row">
    <div class="col-12">
      <ul class="list-group text-center">
        <li *ngFor="let d of languages;" 
        class="list-group-item ">{{d}}</li>
      </ul>
    </div>
  </div>
</div>
<br>
<h1 class="bg-info text-white text-center p-3 ">List of sports</h1>
<table class="table table-bordered  mb-4">
<div class="container ">
  <div class="row">
    <div class="col-12">
      <ul class="list-group text-center">
        <li *ngFor="let e of languages;" 
        class="list-group-item ">{{e}}</li>
      </ul>
    </div>
  </div>
</div>